body {
  padding-top: 50px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.text {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

#button {
	text-decoration: none; 
	color: #F4F4F4;
	width: 33%;
	border: 1px solid red;
}

#button:hover {
	text-decoration: none;
	color: #000000;
	width: 33%;
	border: 1px solid red;
}

.list-group-item:hover {
	background-color: #4A82B5;
	border: 1px solid #4A82B5;
}

.nav .active {
	background-color: rgba(14, 14, 14, 1);
}

#section-4 {
	height: 100vh;
	width: 100%;
	background-color: #9D87DE;
}

#section-3 {
	height: 100vh;
	width: 100%;
	background-color: #7B61C9;
}

#section-2 {
	height: 100vh;
	width: 100%;
	background-color: #5F43B1;
}

#section-1 {
	height: 100vh;
	width: 100%;
	background-color: #4728A0;
}

#foot {
	height: 10vh;
	width: 100%;
	background-color: #CABDEF;
}